<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating Homepage</title>
</head>

<body>
    <h1>Topic <%= 1 + 2 + 3 === 6 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptate eum odit exercitationem eaque
        laboriosam obcaecati impedit, assumenda omnis aut accusantium harum quia, eligendi id aliquam ullam libero
        beatae amet?
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ea dignissimos, incidunt mollitia rem, alias
        blanditiis quis recusandae eligendi dolore nulla deserunt asperiores voluptate nemo itaque, sunt nisi!
        Asperiores, repellendus?</p>

</body>

</html>